section.license-section
	.flex
		.col-1.video-strip
			p My music library has several songs written specifically for <strong>licensing in film & television projects</strong>. The online library is searchable via genre, custom keywords & allows users to easily find specific moods.
			
			p.highlight If you are looking to license music or commission a custom piece of music, please 
				span 
					a(href="mailto:trev.ransom@me.com") email me
				|.

			<iframe height="500" style="width:100%;" src="https://composerly.com/trevor-ransom-515730486?embed=true&header=true" frameborder="0"></iframe>
