section.music-section
	.flex.section-left-tag
		h3 Solo Releases
	
	.flex
		.col-1.media-content
			a(href="https://ffm.to/recollectionsvol2" target="#")
				picture
					source(srcset="/assets/img/driven_smaller.webp" type="image/webp")
					img(src="/assets/img/driven_smaller.jpg" alt="Driven")

		.col-1.media-content
			<iframe src="https://open.spotify.com/embed/album/4iSRoPkAlQLFcAlBrEAUMC" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

			.cta-2-row
				a(href="https://smarturl.it/YENM004" target="#").music-cta#single-music-cta Buy / Stream

	.flex
		.col-1.media-content
			a(href="https://ffm.to/recollectionsvol2" target="#")
				picture
					source(srcset="/assets/img/Recollections_Vol._2_Artwork.webp" type="image/webp")
					img(src="/assets/img/Recollections_Vol._2_Artwork.jpg" alt="Recollections Vol. 2")

		.col-1.media-content
			<iframe src="https://open.spotify.com/embed/track/2xQXZlb2W7FicPhEUMdmwt" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

			.cta-2-row
				a(href="https://ffm.to/recollectionsvol2" target="#").music-cta#single-music-cta Buy / Stream

	.flex
		.col-1.media-content
			a(href="https://hush-hush-records.lnk.to/TR-SpringEP" target="#")
				picture
					source(srcset="/assets/img/spring_artwork.webp" type="image/webp")
					img(src="/assets/img/spring_artwork.jpg" alt="Spring EP")

		.col-1.media-content
			<iframe src="https://open.spotify.com/embed/album/1zc3tq9kGFrqUF7XwwPM7J" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

			.cta-2-row
				a(href="https://hush-hush-records.lnk.to/TR-SpringEP" target="#").music-cta#single-music-cta Buy / Stream

	.flex
		.col-1.media-content
			a(href="https://open.spotify.com/album/3O2btpEGZEvD4QJ2keKYj9?si=lZSecTPcRpCpYCp38zbyBQ" target="#")
				//- img.background-img(src="/assets/img/filaments_ep.jpg")
				picture
					source(srcset="/assets/img/filaments_ep.webp" type="image/webp")
					img(src="/assets/img/filaments_ep.jpg" alt="Filaments EP")

		.col-1.media-content
			<iframe src="https://open.spotify.com/embed/album/3O2btpEGZEvD4QJ2keKYj9" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

			.cta-2-row
				a(href="https://trevorransom.bandcamp.com/album/filaments-ep" target="#").music-cta Buy Now
				a(href="https://open.spotify.com/album/3O2btpEGZEvD4QJ2keKYj9?si=lZSecTPcRpCpYCp38zbyBQ" target="#").music-cta Stream

	.flex
		.col-1.media-content
			a(href="https://open.spotify.com/album/1zRnDv75e0YxxOAY5GoZMG?si=qSMDIrWTRVWzgn_7xIx7rg" target="#")
				picture
					source(srcset="/assets/img/glimpses_cover_smaller.webp" type="image/webp")
					img(src="/assets/img/glimpses_cover_smaller.jpg" alt="Glimpses EP")

		.col-1.media-content
			<iframe src="https://open.spotify.com/embed/album/1zRnDv75e0YxxOAY5GoZMG" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

			.cta-2-row
				a(href="https://trevorransom.bandcamp.com/album/glimpses-ep" target="#").music-cta Buy Now
				a(href="https://open.spotify.com/album/1zRnDv75e0YxxOAY5GoZMG?si=qSMDIrWTRVWzgn_7xIx7rg" target="#").music-cta Stream

	.flex.section-left-tag
		h3 Remixes

	.flex
		.col-1.media-content
			a(href="https://open.spotify.com/track/3TcSzfwR2lLR2TS4aVd2nV?si=McNNWMCgQo2xaMNYO6gDoA" target="#")
				picture
					source(srcset="/assets/img/BjearColdRemixARTWORK.webp" type="image/webp")
					img(src="/assets/img/BjearColdRemixARTWORK.jpg" alt="Bjear - Cold (Trevor Ransom Remix)")

		.col-1.media-content
			<iframe src="https://open.spotify.com/embed/track/3TcSzfwR2lLR2TS4aVd2nV" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	
			.cta-2-row
				a(href="https://itunes.apple.com/us/album/cold-trevor-ransom-remix-single/1457941161" target="#").music-cta Buy Now
				a(href="https://open.spotify.com/track/3TcSzfwR2lLR2TS4aVd2nV?si=McNNWMCgQo2xaMNYO6gDoA" target="#").music-cta Stream

	.flex
		.col-1.media-content
			a(href="https://open.spotify.com/track/0Zp2FW5IMdutt6nI8aqgfn" target="#")
				picture
					source(srcset="/assets/img/rdl_remix.webp" type="image/webp")
					img(src="/assets/img/rdl_remix.jpg" alt="Robert Delong - Isabel St. (Trevor Ransom Remix)")

		.col-1.media-content
			<iframe src="https://open.spotify.com/embed/track/0Zp2FW5IMdutt6nI8aqgfn" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

			.cta-2-row
				a(href="https://open.spotify.com/track/0Zp2FW5IMdutt6nI8aqgfn?si=2UYR_20ZTmmwN8dngbojeQ" target="#").music-cta#single-music-cta Stream



			