section.press-section
	.flex
		.col-1
			h3 Some kind words about my music:

	.flex
		.col-2
			p.highlight "The Spring EP is arguably some of the Seattle artist’s best work so far; it drips with emotion and pastel color." (<a href="https://nesthq.com/trevor-ransom-spring-ep" target="#">Nest HQ</a>)
			
			p.highlight "Ransom toys with texture and dynamics frequently and despite the ambient nature and often subversive structures, his melodic prowess shines through. It's incredibly immersive, vivid noise, touching on post-rock and experimental electronica, and whisking you away to different places and worlds." (<a href="https://www.thelineofbestfit.com/new-music/discovery/ambient-producer-trevor-ransom-streams-atmospheric-debut-ep-glimpses" target="#">Line of Best Fit</a>)

			p.highlight "...panoramic bliss, an amalgam of acoustic timbres, delicate electronics, and weightless, wordless vocals." (<a href="https://dimestoresaints.blog/2018/02/15/premiere-trevor-ransom/" target="#">Dimestore Saints</a>)

			p.highlight "Scarcity has its benefits, and Ransom turns over extended moments to single notes whose elegant clarity can carry an entire song. He doesn’t stuff his music with unnecessary noise or punishing beats but instead establishes strong ideas, slowly adds subtle textures and harmonies and lets everything swirl together in the remaining space. Songs rise, fall and rise again without overflowing." (<a href="https://www.cityartsmagazine.com/trevor-ransoms-spring-ep-opens-electro-acoustic-vistas/" target="#">City Arts Magazine</a>)

			p.highlight "Allow yourself a moment of tranquility and immerse yourself in this poignant, beautiful work." (<a href="https://www.goldflakepaint.co.uk/trevor-ransom-spring-video/" target="#">Gold Flake Paint</a>)

			p.highlight "...a meditative soundtrack that spans lost possiblities uplifted with a new hope for the future, making it the perfect healing soundtrack to a pretty dismal Monday." (<a href="https://www.dummymag.com/new-music/premiere-trevor-ransom-glimpses/" target="#">Dummy Mag</a>)