section.scores-section
	.flex
		.col-1
			h3 Videos I've either scored or had my music featured in:

	.flex
		.col-1.video-strip
			.flex-video <iframe src="https://player.vimeo.com/video/203164239?color=197BBD&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

			.thumbnail-titles
				a(href="https://www.vimeo.com/video/203164239", target="_blank")
					h4 Evan Schneider - Aerials

	.flex
		.col-1.video-strip
			.flex-video <iframe src="https://www.youtube.com/embed/FQii5zqMbMM?iv_load_policy=3&modestbranding=1&rel=0&autohide=1&playsinline=1&showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			.thumbnail-titles
				a(href="https://www.youtube.com/watch?v=FQii5zqMbMM", target="_blank")
					h4 Jason Magbnua - Kat and Borgy

		.col-1.video-strip
			//- .flex-video <iframe src="
			//- https://vimeo.com/186123034/794827410chttps:/

			.flex-video.black-background <iframe src="https://player.vimeo.com/video/186123034?color=197BBD&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

			.thumbnail-titles
				a(href="https://www.vimeo.com/video/186123034", target="_blank")
					h4 Justin Gum - Spring