section.recent-music-news
	.flex
		.col-1
			h2 Recent Music

	.flex
		.col-1
			h4
				em Debut album "Driven" - Out now

	.flex
		.col-1.media-content
			a(href="https://smarturl.it/YENM004")
				picture
					source(srcset="assets/img/driven_smaller_v2.webp" type="image/webp")
					img(src="assets/img/driven_smaller_v2.jpg" alt="Driven")

		.col-1.media-content
			<iframe src="https://open.spotify.com/embed/album/4iSRoPkAlQLFcAlBrEAUMC" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			a(href="https://smarturl.it/YENM004" target="#").home-cta Buy / Stream

			//- <iframe src="https://open.spotify.com/embed/album/4iSRoPkAlQLFcAlBrEAUMC" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>