section.header-video
	.flex
		.col-1.order-first
			.min-width
				p.home-lead Hey there!  Welcome to my site.

				p.highlight I'm Trevor, I 
					span 
						a(href="/music") write music
					|  as an <br>artist and 
					span 
						a(href="/scores") compose for film
					|.
				p Here's a sample of my work.

		.col-1.video-strip
			.flex-video <iframe src="https://player.vimeo.com/video/203164239?color=197BBD&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

			.relative
				a(href="/scores").home-cta SEE MORE