section.recent-music-news
	.flex
		.col-1
			h2 Recent Music

	.flex
		.col-1
			h4
				em "Understudy" - Out now

	.flex
		.col-1.media-content
			a(href="https://smarturl.it/YENM004A")
				img.background-img(src="assets/img/understudy_artwork_smaller.jpg")

		.col-1.media-content
			<iframe src="https://open.spotify.com/embed/album/1C2jRQHRljoHviNoj5zTp6" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			a(href="https://smarturl.it/YENM004A" target="#").home-cta Buy / Stream