p.highlight
	a
		transition: .3s all ease
		background-image: linear-gradient(120deg, #00bffe 0%, #8fd3f4 100%)
		background-position: 0 125%
		background-size: 100% 30%
		background-repeat: no-repeat

		&:hover
			background-size: 100% 98%
			color: black